@model HBSecurityMVC.Models.User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>HBSecurity - User Profile</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Img/hb_security_logo.jpg" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Logis/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Logis/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Logis/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Logis/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Logis/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Logis/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Logis/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Logis - v1.3.0
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .container {
            width: 100%;
        }

            .container .row {
                width: 100%;
                margin: auto;
            }

                .container .row .header {
                    width: 60%;
                    text-align: center;
                    margin: auto;
                }

                    .container .row .header h1 {
                        padding-top: 30px;
                        font-size: 45px;
                        color: cornflowerblue;
                    }

                    .container .row .header p {
                        margin-top: 15px;
                        font-size: 18px;
                        line-height: 1.5;
                        color: #6e6e6e;
                    }

        .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: auto;
        }

            .content .card {
                flex: 1;
                margin: 50px 20px;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
                background-color: #fff
            }

                .content .card img {
                    width: 100%;
                    height: auto;
                }

                .content .card h4 {
                    margin-top: 10px;
                    margin-left: 10px;
                    font-size: 18px;
                }

                .content .card p {
                    font-size: 15px;
                    color: #6e6e6e;
                    line-height: 1.5;
                    padding: 10px;
                }
    </style>

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">


            <a href="https://localhost:44348" class="logo d-flex align-items-center">
                <img src="~/Img/hb_security_logo.jpg" alt="HBSecurity Logo">
                <h1>HBSecurity</h1>
            </a>


            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    @if (Session["Email"] == null)
                    {
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("About", "About", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("MitreInfo", "MitreInfo", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("SignUp", "SignUp", "User")
                        </li>
                        <li>
                            @Html.ActionLink("Login", "Login", "User")
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("About", "About", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("MitreInfo", "MitreInfo", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("ApplyTest", "ApplyTest", "Report")
                        </li>
                        <li>
                            @Html.ActionLink("Test Results", "TestResults", "Report")
                        </li>
                        <li>
                            @Html.ActionLink("Hello " + $"{Session["Name"].ToString()}", "UserProfile", "User")
                        </li>
                        <li>
                            @Html.ActionLink("Log Out", "LogOut", "User")
                        </li>
                    }
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- End Header -->


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center" style="background-image: url('~/Logis/assets/img/page-header.jpg');">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>User Profile</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->
        </div>
        <!-- End Breadcrumbs -->
        <!-- ======= Mitre Info ======= -->
        <section class="vh-200" style="background-color: #eee;">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-200">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 ">

                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Update Your Profile</p>

                                        @using (Html.BeginForm("Update", "User", FormMethod.Post))
                                        {
                                            <form action="Update" class="mx-1 mx-md-4" method="post">

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="bi bi-building"></i> &nbsp;&nbsp;
                                                    <div class="form-outline flex-fill mb-0">
                                                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @name = "CompanyName" })
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;
                                                    <div class="form-outline flex-fill mb-0">
                                                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @name = "ContactName" })
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="fa-solid fa-id-card"></i>&nbsp;&nbsp;
                                                    <div class="form-outline flex-fill mb-0">
                                                        @Html.TextBoxFor(m => m.ContactTitle, new { @class = "form-control", @name = "ContactTitle" })
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;
                                                    <div class="form-outline flex-fill mb-0">
                                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @type = "number", @maxLength = "10", @name = "Phone" })
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;
                                                    <div class="form-outline flex-fill mb-0">
                                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @name = "Address", @rows = "2", @cols = "40" })
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="bi bi-mailbox"></i>&nbsp;&nbsp;
                                                    <div class="form-outline flex-fill mb-0">
                                                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", @name = "PostalCode", @maxLength = "5" })
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="bi bi-globe"></i>
                                                    <div class="form-outline form-select-sm">

                                                        @Html.DropDownList("Country", new List<SelectListItem>
                                                        {
                                                                new SelectListItem { Text = "Germany", Value = "Germany"},
                                                                new SelectListItem { Text = "Spain", Value = "Spain"},
                                                                new SelectListItem { Text = "France", Value = "France"},
                                                                new SelectListItem { Text = "Spain", Value = "Spain"},
                                                                new SelectListItem { Text = "England", Value = "England"},
                                                                new SelectListItem { Text = "Morocco", Value = "Morocco"},
                                                                new SelectListItem { Text = "Argentina", Value = "Argentina"},
                                                                new SelectListItem { Text = "Mexico", Value = "Mexico"},
                                                                new SelectListItem { Text = "Turkey", Value = "Turkey"},
                                                                new SelectListItem { Text = "Switzerland", Value = "Switzerland"},
                                                                new SelectListItem { Text = "Sweden", Value = "Sweden"},
                                                                new SelectListItem { Text = "Russia", Value = "Russia"},
                                                                new SelectListItem { Text = "United States", Value = "United States"},
                                                                new SelectListItem { Text = "Portugal", Value = "Portugal"},
                                                        }, "Country")
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="bi bi-envelope"></i>&nbsp;&nbsp;
                                                    <div class="form-outline flex-fill mb-0">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @name = "Email", @type = "email" })
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-row align-items-center mb-4 form-group">
                                                    <i class="bi bi-lock-fill"></i>&nbsp;&nbsp;
                                                    <div class="form-outline flex-fill mb-0">
                                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @name = "Password", @type = "password" })
                                                    </div>
                                                </div>

                                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 form-group">
                                                    <button type="submit" id="btnUpdate" formmethod="post" class="btn btn-primary btn-lg">Update</button>
                                                </div>
                                            </form>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span>HBSecurity</span>
                    </a>
                    <p>"Our self-confidence is the result of our experience."</p>
                    <div class="social-links d-flex mt-4">
                        <a href="https://www.linkedin.com/in/dr-emre-atl%C4%B1er-olca-54564710/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="https://localhost:44348/Home/About">About us</a></li>
                        <li><a href="https://localhost:44348/Home/Contact">Contact</a></li>
                        <li><a href="https://localhost:44348/Home/MitreInfo">Mitre Information</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href="#">Apply Tests</a></li>
                        <li><a href="#">Database Storage</a></li>
                        <li><a href="#">Listing Past Tests</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        Zühtüpaşa, Bağdat Cd. <br>
                        No:2, 34724<br>
                        Kadıköy/İstanbul <br>
                        <strong>Phone:</strong> 0 (216) 542 1907<br>
                        <strong>Email:</strong> hbsecurity@hbsecurity.com<br>
                    </p>

                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>HBSecurity</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Logis/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Logis/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Logis/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Logis/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Logis/assets/vendor/aos/aos.js"></script>
    <script src="~/Logis/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Logis/assets/js/main.js"></script>

</body>

</html>





